<footer class=" shadow bg-slate-800 mt-auto   ">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
      <div class="sm:flex sm:items-center sm:justify-between  gap-4 ">
        {{!-- <a href="/" class="flex items-center mb-4 sm:mb-0">
          <img src="/assets/favicon.svg" class="h-8 mr-3" alt="Flowbite Logo" />
          <span class="self-center text-2xl font-semibold whitespace-nowrap text-white ">WeatherNow!</span>
        </a> --}}
        <div class="flex flex-wrap items-center mb-6 text-md font-medium   sm:mb-0 text-gray-400">
          Designed & Developed By &nbsp; <a href="https://www.linkedin.com/in/tausifkhan01/" class="text-white underline"> Tausif Khan</a>
          
        </div>
        <ul class="flex flex-wrap items-center mb-6 text-xl font-medium   sm:mb-0 text-gray-400">

          <li>
            <a href="https://www.linkedin.com/in/tausifkhan01/" class="mr-2 hover:text-white md:mr-4 "><i class="fa-brands fa-linkedin"></i></a>
          </li>
          <li>
            <a href="https://www.instagram.com/tausif_khan_007_/" class="mr-2 hover:text-white md:mr-4 "><i class="fa-brands  fa-instagram"></i></a>
          </li>
          
          <li>
            <a href="https://twitter.com/Tausif_Khan_01" class="hover:text-white"><i class="fa-brands fa-twitter"></i></a>
          </li>
        </ul>
      </div>
      <hr class="my-6  sm:mx-auto border-gray-700 lg:my-8" />
      <span class="block text-sm  sm:text-center text-gray-400">© 2023. All Rights Reserved.</span>
    </div>
  </footer>