<header class="bg-[#FCF8F1] bg-opacity-30">
    <div class=" relative px-4 mx-auto sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16 lg:h-20">
            <div class="flex-shrink-0">
                <a href="/" title="" class="flex">
                    <div class="font-bold text-xl flex gap-2 sm:text-2xl lg:text-3xl items-center">
                        <span><img src="/assets/favicon.svg" alt="" class="w-6 sm:w-8 lg:w-10" /></span>WeatherNow!
                    </div>
                </a>
            </div>

            <button type="button " id="menuBtn"
                class="inline-flex cursor-pointer p-2 text-black transition-all duration-200 rounded-md lg:hidden focus:bg-gray-100 hover:bg-gray-100">
                <!-- Menu open: "hidden", Menu closed: "block" -->
                <svg id="menuBtnOpen" class="block w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 8h16M4 16h16"></path>
                </svg>

                <!-- Menu open: "block", Menu closed: "hidden" -->
                <svg id="menuBtnClose" class="hidden w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                    </path>
                </svg>
            </button>

            <div class="hidden lg:flex lg:items-center lg:justify-center lg:space-x-10">
                <a href="#" title="" class="text-base text-black transition-all duration-200 hover:text-opacity-80">
                    Home </a>

                <a href="#" title="" class="text-base text-black transition-all duration-200 hover:text-opacity-80">
                    About Me </a>

                <a href="#" title="" class="text-base text-black transition-all duration-200 hover:text-opacity-80">
                    Contact Me </a>
            </div>

            <a href="/weather" title=""
                class="hidden lg:inline-flex items-center justify-center px-5 py-2.5 text-base transition-all duration-200 hover:bg-yellow-300 hover:text-black focus:text-black focus:bg-yellow-300 font-semibold text-white bg-black rounded-full"
                role="button">
                Check <span><img src="/assets/favicon.svg" alt="" class="w-5" /></span> Now
            </a>
        </div>
        <div id="menuList"
            class="absolute rounded-md z-50 text-white text-center  left-0 bg-slate-800 h-0  transition-[height] duration-300     font-bold right-0 flex flex-col  overflow-hidden items-center justify-between drop-shadow-2xl     lg:hidden  ">
            <a href="/" class=" border-b-slate-100 border-b w-full py-3  ">Home</a>
            <a href="" class=" border-b-slate-100 border-b w-full py-3">About</a>
            <a href="/weather" class=" w-full   py-3">WeatherNow!</a>

        </div>
    </div>
</header>